apiVersion: apps/v1
kind: Deployment
metadata:
  name: estoque-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: estoque-service
  template:
    metadata:
      labels:
        app: estoque-service
    spec:
      containers:
      - name: estoque-service
        image: joaodainese/estoque-service:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          name: http
        envFrom:
          - configMapRef:
              name: estoque-config
          - secretRef:
              name: estoque-secret
        resources:
          requests:
            cpu: "50m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        livenessProbe:
          httpGet:
            path: /health/live
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 10
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /health/ready
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 15
          timeoutSeconds: 10
          failureThreshold: 5
        startupProbe:
          httpGet:
            path: /health/startup
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 15
          timeoutSeconds: 10
          failureThreshold: 20
